{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Meu Diário</title>
    <link rel="stylesheet" href="{% static 'css/diario.css' %}">
</head>

<body>
    <h1><a href="/">Caro diário …</a></h1>

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li class="message">
                {{ message }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% block content %}{% endblock %}

    <hr>
    <a href="{% url 'admin:logout' %}">Sair</a>
</body>

</html>